<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shop</title>
  <link rel="stylesheet" href="/static/css/shopstyle.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>

  <div class="container">
    <h1>Sorry, we are working at it.</h1>
    <p>See you soon :)</p>
    <a href="/" class="btn">Back Home</a>
  </div>
</body>
</html>
